.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg {
  width: 100vw;
  height: 100vh;
  background-image: url(./pics/Pattern.jpg);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Exo2.0", arial;
}
.title {
  font-size: 36px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
  text-align: center;
  margin-top: 20px;
}
.products {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  position: relative;
  /* border-width: 4px;
  border-color: rgb(22, 152, 217);
  border-style: solid;
  background-color: rgb(242, 242, 242); */
  width: 312px;
  height: 472px;
  margin: 40px;
}
.item.selected {
  border-color: rgb(217, 22, 103);
}
.cat-pic-container {
  background-image: url(./pics/Cat.png);
  height: 270px;
  background-position-x: 80%;
  margin-top: 23px;
  margin-left: 3px;
}
.dish {
  font-size: 16px;
  font-family: "Trebuchet MS";
  color: rgb(102, 102, 102);
  line-height: 1.2;
  margin: 0;
  margin-top: 20px;
  margin-left: 45px;
}
.product-title {
  font-size: 48px;
  font-family: "Trebuchet MS";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  margin-left: 45px;
}
.ingredient {
  font-size: 24px;
  font-family: "Trebuchet MS";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  margin-left: 45px;
}
.portions,
.gift {
  font-size: 14px;
  font-family: "Trebuchet MS";
  color: rgb(102, 102, 102);
  line-height: 1.143;
  margin-left: 45px;
}
.portions {
  margin-top: 20px;
}
.weight {
  padding-top: 20px;
  background: rgb(22, 152, 217);
  position: absolute;
  height: 60px;
  border-radius: 50%;
  width: 80px;
  right: 15px;
  bottom: 50px;
  text-align: center;
  font-size: 42px;
  font-family: "Trebuchet MS";
  color: rgb(255, 255, 255);
  line-height: 0.524;
}
.weight span {
  font-size: 24px;
}
.selected .weight {
  background: rgb(217, 22, 103);
}
.comment {
  margin-top: 20px;
  font-size: 13px;
  font-family: "Trebuchet MS";
  color: rgb(255, 255, 255);
  line-height: 1.231;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
  width: 101%;
}
.comment.disabled {
  color: #ffff66;
}
.comment a {
  color: rgb(22, 152, 217);
  cursor: pointer;
}
.item.disabled {
  border-color: #b3b3b3;
}
.disabled .weight {
  background-color: #b3b3b3;
}
/* .disabled .overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
} */
.item:not(.disabled):hover .overlay {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  height: calc(100% - 41px);
  z-index: 99999;
  bottom: 0;
}

.disabled .overlay {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  height: calc(100% - 41px);
  bottom: 0;
}
.item:not(.disabled):hover .overlay:before,
.disabled .overlay:before {
  content: "";
  position: absolute;
  top: -41px;
  left: 0;
  border-top: 41px solid transparent;
  border-right: 41px solid rgba(255, 255, 255, 0.2);
  width: 0;
}
.item:not(.disabled):hover .overlay:after,
.disabled .overlay:after {
  content: "";
  position: absolute;
  top: 0;
  width: calc(100% - 41px);
  height: 41px;
  right: 0;
  top: -41px;
  background-color: rgba(255, 255, 255, 0.2);
}

.item.selected.out:hover:before {
  font-size: 16px;
  font-family: "Trebuchet MS";
  content: "Котэ не одобряет?";
  position: absolute;
  top: 20px;
  left: 45px;
  color: rgb(217, 22, 103);
  background-color: #f2f2f2;
  margin: 0;
  width: calc(100% - 99px);
  z-index: 9;
}
@media screen and (max-width: 880px) {
  .products {
    flex-direction: column;
  }
  .bg {
    height: 100%;
  }
  .item {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 881px) and (max-width: 1224px) {
  .item:nth-child(2) {
    margin-top: 150px;
  }
  .item {
    margin: -15px;
  }
}
#canvas {
  position: absolute;
}
.container {
  position: absolute;
  width: 100%;
}
